<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("EMS", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand fs-3" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between mx-xl-3">
                <ul class="navbar-nav flex-grow-1">
                    <li class="mx-lg-2">@Html.ActionLink("Home", "Index", "Employee", new { area = "" }, new { @class = "nav-link text-info fw-normal fs-5 fst-italic" })</li>
                    <li class="mx-lg-2">@Html.ActionLink("Details", "EmployeeDetails", "Employee", new { area = "" }, new { @class = "nav-link text-info fw-normal fs-5 fst-italic" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-offset-2 d-flex flex-row ml-3">
                <p class="mb-0">&copy; @DateTime.Now.Year - Developed By <b><i>Chaitanya</i></b></p>
                <a href="https://github.com/LinUxTo5re" class="ml-5 mx-3 zoom-link">GitHub</a>
                <a href="https://www.linkedin.com/in/chaitanya-ajabe-99a449221/" class=" zoom-link">LinkedIN</a>
            </div>

        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
